@model ZigmaWeb.UI.ViewModels.Tag.BlogListViewModel
@using ZigmaWeb.UI.Infrastructure.Mvc.GlobalViewModel
@{
    ViewBag.Title = string.Format("وبلاگ‌ها (صفحه {0})", Model.PageIndex);
    var paginationViewModel = new PaginationViewModel() {
        PageSize = Model.PageSize,
        SelectedPage = Model.PageIndex,
        TotalRows = Model.TotallRows,
        VisiblePreviousPages = 3,
        VisibleNextPages = 3,
        UrlTemplate = "/directory/blogs/{PageIndex}"
    };
}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-note font-dark"></i>
            <span class="caption-subject font-dark bold uppercase">وبلاگ ها</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="mt-element-list">
            <div class="mt-list-container list-news article-info">
                <ul>
                    @foreach (var blog in Model.Blogs) {
                        <li class="mt-list-item">
                            <div class="list-item-content">
                                <h5>
                                    <a href="/@blog.Name">@blog.Title</a>
                                </h5>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>



@*<div class="row">
        <div class="col-lg-12">
            <div class="mt-element-list">
                <div class="mt-list-container list-news article-info">
                    <ul>
                        @foreach (var blog in Model.Blogs) {
                            <li class="mt-list-item">
                                <div class="list-item-content">
                                    <h5>
                                        <a href="/@blog.Name">@blog.Title</a>
                                    </h5>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>*@

<div>
    @Html.Partial("_pagination", paginationViewModel)
</div>

@section head {
    <meta name="description" content="وبلاگ‌های ثبت شده در شبکه علمی و تخصصی زیگماوب - صفحه @Model.PageIndex" />
}
