<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings >
    <!--<add name="ZigmaWebConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ZigmaWeb;User ID=sa; Password=sa;MultipleActiveResultSets=true; " providerName="System.Data.SqlClient" />-->
    <!--<add name="ZigmaWebConnectionString" connectionString="Data Source=78.46.172.158,1433\sqlexpress;Initial Catalog=ZigmaWeb;Persist Security Info=True;User ID=sa;Password=38dfgD*#4cPQ;Application Name=ZigmaWeb;MultipleActiveResultSets=True"  providerName="System.Data.SqlClient"/>-->
    <add name="ZigmaWebConnectionString" connectionString="Data Source=192.168.98.207\SQLSERVER,1433;Initial Catalog=ZigmaWeb;User ID=sa; Password=sapw;MultipleActiveResultSets=true; " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Email Settings -->
    <add key="SmtpUsername" value="reg@zigmaweb.com"/>
    <add key="SmtpPassword" value="zwpass"/>
    <add key="SmtpServerHostName" value="62.210.110.233"/>
    <add key="SmtpServerPort" value="25"/>
  </appSettings>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>