@{
    ViewBag.Title = "درباره زیگماوب";
}

<div class="row all" style="text-align: justify">
    <div class="col-lg-12">
        <div class="content">

            <div class="body" style="text-align:justify">
                <br />
                <p style="box-sizing: border-box; margin: 20px 0px; color: rgb(51, 51, 51); font-family: IRANSans; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(239, 243, 248);">
                    زیگماوب یک شبکه علمی و تخصصی همگانی و آزاد است به طوری که همه می توانند نوشته های خود را به صورت آزادانه در قالب مقاله یا بلاگ پست در جامعه ی بزرگ و وسیع وب منتشر کرده و مدیریت کنند. زیگماوب امکان&nbsp; انتشار مقاله و بلاگ پست و دسترسی به منابع مختلفی از مطالب علمی ، ادبی، فرهنگی، هنری و... را فراهم کرده است. علاوه بر این شما می توانید از بازخوردهای دیگران  به همراه مجموعه ای از خدمات دیگر بهره مند شوید.</p>
          
                    به عبارت دیگر زیگماوب بستری برای تبادل و به اشتراک گذاری دانش و علم فراهم آورده است، به طوری که هر شخص بتواند دانش و علم خود را در زمینه های مختلف اعم از علوم انسانی ، علوم اجتماعی، علوم طبیعی، علوم صوری ، علوم کاربردی و حرفه ها &nbsp;و غیره به صورت مقاله برای بهره مندی دیگران ارائه کند.<br />
                <br />
                    شما همچنین می توانید نوشته ها و مقالات با ارزش علمی را از زبان های دیگر جهت یاری رساندن به هم زبانان خود ترجمه کرده و با ذکر منبع در زیگماوب منتشر کنید.  البته  مقالات و بلاگ پست ها و نوشته های منتشر شده باید مطابق با قوانین و مقررات زیگماوب باشد. قوانین و مقررات زیگماوب در صفحه ی <a href="~/terms"><شرایط استفاده></a>  بیان شده است.<p >
                    زیگماوب خود را سپاسگزار همه ی کسانی می داند &nbsp;که زمان ، انرژی و مقالات و نوشته های خود را صرف مشارکت در ساخت زیگماوب به آن شکلی که باید باشد کرده اند.</p>
           
            </div>
        </div>
    </div>
</div>

@section head {
    <meta name="description" content="معرفی شبکه علمی و تخصصی زیگماوب" />
}

@section PageHead {
    <div class="page-head">
        <div class="container">
            <div class="page-title">
                <h1>
                    <span>درباره زیگماوب</span>
                </h1>
            </div>
        </div>
    </div>
}


