@{
    ViewBag.Title = "پرسش های متداول";
}

<div class="row all" style="text-align: justify">
    <div class="col-lg-12">
        <div class="content">
            <div class="body" style="text-align: justify">
                <p >
                    <strong>1. مقاله چیست؟ </strong>
                </p>
                <p >
                    مقاله نوشته ای است که حجمی متوسط دارد و در مورد موضوعی معین بحث می کند، نویسنده باید در نگارش مقاله حدود موضوع را رعایت کرده و به روشنی آن را توضیح دهد. نوشتن مقاله با گزینش موضوعات و مطرح کردن آن ها در حوزه های مختلف می تواند سبب&nbsp; گشودن گرهی از مسائل علمی، ادبی، اجتماعی ، اقتصادی ، سیاسی ، اخلاقی و غیره شود.</p>
                <p >
                    به عبارت دیگر مقاله به نوشته هایی اطلاق می شود که هدف نویسنده ی آن بررسی یکی از مسائل علمی، ادبی، اجتماعی ، اقتصادی ، سیاسی ، اخلاقی و جز آن ها باشد و بخواهد با تحقیق و پژوهش موضوع را به اثبات برساند یا نفی کند.</p>

                مقاله می تواند در زمینه های مختلفی از قبیل موارد ذکر شده در ذیل ارائه شود:<br/>
                <ul>
                    <li style="box-sizing: border-box;"> مقالات علمی </li>
                    <li style="box-sizing: border-box;">آموزش درباره ی استفاده یا آشنایی با یک تکنولوژی، تکنیک، نرم افزار، سخت افزار، دستگاه</li>
                    <li style="box-sizing: border-box;">پژوهش در ارتباط با مسائل اجتماعی و اخلاقی و ...</li>
                    <li style="box-sizing: border-box;">ارائه ی تحلیل در حوزه های سیاسی و اقتصادی</li>
                    <li style="box-sizing: border-box;">تبیین مبانی اعتقادی و مذهبی</li>
                    <li style="box-sizing: border-box;">بحث و ارائه نظر در حوزه ی فلسفه</li>
                    <li style="box-sizing: border-box;">تحقیق و پژوهش در حوزه ی مدیریت</li>
                    <li style="box-sizing: border-box;">و ...</li>
                </ul>

                <p >
                    &nbsp;</p>
                <p >
                    <strong>2. وبلاگ یا بلاگ پست چیست؟</strong>
                </p>
                <p >وبلاگ به عبارت ساده صفحه &nbsp;اینترنتی است که به طور معمول به صورت فردی یا گروهی کوچک اداره می شود و مطالب آن به شیوه ای غیر رسمی و محاوره ای و به صورت متوالی نگارش می شود.. وبلاگ اغلب به صورت یک نشریه ی اینترنتی شخصی است و جایی است که شما می توانید خود را به دنیا معرفی کنید و افکار ، عقاید ، اشعار، احساسات و یا خاطرات خود را با دیگران به اشتراک بگذارید.</p>

        

                <p ><span >هم اکنون صدها میلیون نفر از مردم سراسر دنیا از تمام سطوح اجتماعی و از تمامی قشرها به وبلاگ نویسی روی آورده اند و از طریق وبلاگ نویسی نوشته های خود را در معرض دید عموم مراجعان از سرتاسر دنیا گذاشته اند.</span>جواب در این حقیقت نهفته است که هر کسی صدایی دارد و می خواهد صدایش شنیده شود و اینترنت وسیله ای بی نظیر برای رسیدن به آن هدف است و به واسطه ی اینترنت وبلاگ نویسان فرصت دسترسی به صدها و یا هزاران نفر را در روز بدست می آورند.</p>

                <p >تعداد زیادی از افراد هستند که تمایل دارند جزییات فعالیت های روزانه شان را به اشتراک بگذارند، از طرف دیگر وبلاگ نویسانی هستند که معمولا جزییاتی درباره ی زندگی شان نمی دهند اما در عوض تمایل دارند درباره سرگرمی ها و علایقشان بنویسند.</p>

                <p >وبلاگ در زیگماوب&nbsp; می تواند در ارائه ی&nbsp; اخبار بروز، اطلاعات فنی، دعوت از افراد برای شرکت در انجام کارهای داوطلبانه، مشاوره در سرمایه گذاری، یادداشت های شخصی و امثال آن نقش موثری ایفا کند. در زیگماوب افراد می توانند بدون نیاز به داشتن دانش فنی وبلاگ خود را ایجاد کرده و نوشته های خود را منتشر کنند.</p>

                <p >
                    &nbsp;</p>
                <p >
                    <strong>3. تفاوت مقاله و بلاگ پست در زیگماوب چیست؟</strong>
                </p>
                <p >
                    زیگماوب یک شبکه ی علمی است که در آن کاربران می توانند نتایج تحقیق ، پژوهش و مطالعات خود را به صورت مقاله ارائه دهند، وبلاگ به کاربران زیگماوب این امکان را می دهد تا نوشته های دیگر خود را که در قالب مقاله نمی گنجد را به صورت آزادانه منتشر کنند.</p>

                <br/>

                <p >
                    <strong>4. نوشتن در زیگماوب چه مزایا و ارزشی دارد؟</strong>
                </p>

                <ul>
                    <li >انتقال مهارت و دانش خود به دیگران</li>
                    <li >مطرح کردن و شناساندن توانایی های خود به دیگران در محیط کار و جامعه</li>
                    <li >استفاده از بازخورد دیگران و درک بهتر دانسته ها و رفع نواقص آن ها</li>
                    <li >به جا ماندن اثر و اندیشه</li>
                    <li >رشد و شکوفایی ایده های نو و ایجاد انگیزه و پژوهش بیشتر در آن زمینه ها</li>
                    <li >داشتن سایتی برای منتشر کردن نوشته هایتان</li>
                </ul>

                <br/>
                <p id="tag" style="color: red; font-weight:bold">
                    <br />
                    <strong>5. برچسب چیست و چه کاربردی دارد؟</strong>
                </p>
                <p>
                    برچسب ها (تگ ها) کلمات کلیدی استفاده شده در متن شما هستند که کاربران می توانند با جستجوی برچسب ها در سایت یا از طریق موتورهای جستجو به نوشته های شما دسترسی داشته باشند، همچنین در زیگماوب برچسب ها برای &nbsp;دسته بندی مطالب استفاده می شوند.
                    بنابراین همواره یک برچسب برای دسته بندی کلی لازم است. برای نمونه شما می توانید از کلماتی مانند کامپیوتر، مکانیک، تاریخ، فرهنگ، هنر، جغرافیا، کشاورزی و غیره به عنوان دسته بندی کلی استفاده کنید.برای مثال فرض کنید شما مقاله ای در مورد شبکه عصبی در رشته کامپیوتر با گرایش نرم افزار-هوش مصنوعی می خواهید منتشر کنید بهتر است برای دسته بندی مناسب از برچسب های مشابه زیر استفاده کنید:</p>
                <p>
                    کامپیوتر - نرم افزار - هوش مصنوعی - شبکه عصبی</p>
                <p>
                    در این مثال کامپیوتر دسته بندی کلی مقاله ی شماست، همچنین توجه داشته باشید در زمان نمایش مقاله، مقاله هایی که بیشتر برچسب مشترک را با مقاله نمایش داده شده داشته باشند در قسمت مقاله های مرتبط نمایش داده می شوند.</p>

                <p>
                    نکاتی که باید در برچسب گذاری رعایت شود
                </p>
                <ul>
                    <li>برچسب باید کوتاه باشد و به طور معمول برچسب بیش از سه کلمه نمی باشد، استفاده از عبارات طولانی یا جمله روش درستی برای برچسب گذاری نیست. شما باید در چند عبارت کوتاه تمام موضوعاتی که به نوشته مربوط می شوند را تعیین کنید.</li>
                    <li>سعی کنید تعداد برچسب های تاجای امکان کم باشد. استفاده زیاد از برچسب سبب سردرگمی خوانندگان و ایجاد دسته بندی های نامناسب خواهد شد و این مسئله ممکن است اقبال به نوشته های شما را تحت تاثیر قرار دهد.</li>
                </ul>

                <br/>

                <p >
                    <strong>6. چگونه می توانم روی مقالات و بلاگ پست ها دیدگاهم را ارسال کنم؟</strong>
                </p>
                <p >
                    امکان&nbsp; ثبت دیدگاه فقط برای کاربران زیگماوب وجود دارد، برای ثبت دیدگاه ابتدا باید در زیگماوب حساب کاربری ایجاد کنید.</p>
                <br/>
                <p >
                    <strong>7. چرا دیدگاههایی که ثبت می کنم به رنگ قرمز نمایش داده می شود؟</strong>
                </p>
                <p >
                    بعد ثبت نظر، تا زمانی که نویسنده ی مقاله یا پست بلاگ آن را تایید نکند ، تنها برای شما و به رنگ قرمز قابل مشاهده خواهد بود. بعد از تایید توسط نویسنده نظر ثبت شده توسط شما از این وضعیت در آمده و برای همه ی بازدیدکننده ها قابل مشاهده خواهد بود.</p>
            </div>
        </div>
    </div>
</div>

@section head {
    <meta name="description" content="پرسش‌های متداول" />
}

@section PageHead {
    <div class="page-head">
        <div class="container">
            <div class="page-title">
                <h1>
                    <span>پرسش های متداول</span>
                </h1>
            </div>
        </div>
    </div>
}
