@{
    ViewBag.Title = "معرفی شبکه علمی و تخصصی زیگماوب";
}

<div class="row " style="text-align: justify;">
    <div class="col-lg-4 intro-titles">
        <div>
            <h4>
                <a href="#introduction">معرفی</a>
            </h4>
            <h4>
                <a href="#user-account">حساب کاربری</a>
            </h4>
            <h4>
                <a href="#profile">پروفایل تخصصی</a>
            </h4>
            <h4>
                <a href="#send-article">انتشار مقاله</a>
            </h4>
            <h4>
                <a href="#make-blog">ایجاد وبلاگ</a>
            </h4>
            <h4>
                <a href="#tags">دسته‌بندی مقاله و پست با استفاده از برچسب ها </a>
            </h4>
            <h4>
                <a href="#send-file">آپلود و مدیریت فیلم، تصویر و فایل</a>
            </h4>
            <h4>
                <a href="#send-message">امکان ارسال پیام در شبکه</a>
            </h4>
            <h4>
                <a href="#follow">امکان دنبال کردن&nbsp; پروفایل و وبلاگ</a>
            </h4>
            <h4>
                <a href="#send-viewpoint">ارسال دیدگاه برای مقاله&nbsp;یا پست</a>
            </h4>
        </div>

    </div>
    <div class="col-lg-8">
        <div id="introduction" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    معرفی
                </div>
            </div>
            <div class="portlet-body content-text">
                <span>زیگماوب یک شبکه علمی و تخصصی همگانی و آزاد است که شما می توانید در آن در زمینه های مختلف مقاله منتشر کنید همچنین در کنار آن می توانید در صورت تمایل وبلاگ شخصی خود را ایجاد کنید. در ادامه به معرفی امکانات و خدماتی که زیگماوب ارائه می کند خواهیم پرداخت. برای استفاده از خدمات زیگماوب می بایست ابتدا حساب کاربری خود را ایجاد کنید.</span>
            </div>
        </div>

        <div id="user-account" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    حساب کاربری
                </div>
            </div>
            <div class="portlet-body content-text">
                برای استفاده از سرویس های منحصربفرد و ویژه ی زیگماوب شما به یک حساب کاربری نیاز دارید، برای ایجاد یک حساب کاربری تنها کافی است نام و نام خانوادگی و نام کاربری (ایمیل) و کلمه عبور دلخواه خود را وارد نمایید.
                <div class="img-box">
                    <img class="img-responsive" src="~/Content/assets/pages/img/introduction/dashboard.jpg" />
                </div>
            </div>
        </div>

        <div id="profile" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    پروفایل تخصصی
                </div>
            </div>
            <div class="portlet-body content-text">
                پروفایل شما در واقع یک معرفی کامل از شماست، کاربران دیگر در شبکه می توانند از طریق پروفایل با شما ارتباط برقرار کنند. شما می توانید در پروفایلتان&nbsp; اطلاعات مربوط به&nbsp; راه های ارتباطی ، سوابق تحصیلی&nbsp; و کاری و همچنین حرفه و کسب و کار خود را&nbsp; به صورت عمومی در فضای اینترنت منتشر کنید. هر جا که با حساب کاربری شما فعالیتی صورت گرفته باشد از قبیل انتشار مقاله ، ارسال پست، ثبت دیدگاه و&nbsp; غیره، لینکی به پروفایل شما به همراه نام و تصویر شما نمایش داده خواهد شد. همچنین اطلاعات پروفایلتان از جمله&nbsp; نام و تصویر&nbsp; و کسب و کارتان در کنار مقاله ی منتشر شده توسط شما به بازدید کنندگان از سایت نمایش داده خواهد شد.
                <div class="img-box">
                    <img class="img-responsive" src="~/Content/assets/pages/img/introduction/profile.jpg" />
                </div>
            </div>
        </div>

        <div id="send-article" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    انتشار مقاله
                </div>
            </div>
            <div class="portlet-body content-text">
                در زیگماوب شما می توانید در زمینه های مختلف عمومی و تخصصی&nbsp; مقاله منتشر کرده و دانش خود را در حوزه ی تخصص و کسب و کار خود با دیگران به اشتراک بگذارید، انتشار مقاله یکی از راه هایی هست که&nbsp; می توانید خودتان را در فضای اینترنت معرفی کنید.

                <div class="img-box">
                    <img class="img-responsive" src="~/Content/assets/pages/img/introduction/authoring.jpg" />
                </div>
            </div>
        </div>

        <div id="make-blog" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    ایجاد وبلاگ
                </div>
            </div>
            <div class="portlet-body content-text">
                <p>
                    وبلاگ به عبارت ساده صفحه ی اینترنتی است که به طور معمول به صورت فردی یا گروهی کوچک اداره می شود و مطالب آن به شیوه ای غیر رسمی و محاوره ای و به صورت متوالی نگارش می شود.. وبلاگ اغلب به صورت یک نشریه ی اینترنتی شخصی است و جایی است که شما می توانید خود را به دنیا معرفی کنید و افکار ، عقاید ، اشعار، احساسات و یا خاطرات خود را با دیگران به اشتراک بگذارید.
                </p>
                <p>
                    وبلاگ در زیگماوب&nbsp; می تواند در ارائه ی&nbsp; اخبار بروز، اطلاعات فنی، دعوت از افراد برای شرکت در انجام کارهای داوطلبانه، مشاوره در سرمایه گذاری، یادداشت های شخصی و امثال آن نقش موثری ایفا کند. در زیگماوب افراد می توانند بدون نیاز به داشتن دانش فنی وبلاگ خود را ایجاد کرده و نوشته های خود را منتشر کنند. وبلاگ به شما امکان می دهد که نوشته های دیگر خود&nbsp; که در قالب مقاله نمی گنجند را منتشر کنید.
                    وبلاگ تحت حساب کاربری شما منتشر می شود و بنابراین بازدیدکنندگان می توانند از صفحه وبلاگ یا پست ارسالی به پروفایل شما دسترسی داشته باشند.
                </p>
            </div>
        </div>

        <div id="tags" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    دسته بندی مقالات و پست ها با استفاده از برچسب ها
                </div>
            </div>
            <div class="portlet-body content-text">
                برچسب ها نقش مهم و کلیدی&nbsp; در دسته بندی، جستجو و نمایش مقالات و پست های شما دارند. استفاده
                ی برچسب های مناسب کمک می کند که نوشته های شما در زمان نمایش مقاله&nbsp; در قسمت های &lt;مقالات مرتبط&gt; یا &lt;مقالات مرتبط نویسنده&gt; به بازدیدکنندگان مقاله پیشنهاد شود. همچنین استفاده از برچسب ها مناسب به موتورهای جستجو ( از قبیل گوگل و بینگ و ...) کمک خواهد کرد که مقاله شما را در نتایج جستجو در رتبه بالاتری قرار دهند.
            </div>
        </div>


        <div id="send-file" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    آپلود و مدیریت فیلم، تصویر و فایل
                </div>
            </div>
            <div class="portlet-body content-text">
                &nbsp;یکی از دغدغه های همیشگی نویسندگان در وبلاگ ها&nbsp; امکان ارسال تصویر، فیلم و فایل&nbsp;در زمان انشار مقاله یا پست بود که آن ها را وادار می کرد در سایت دیگری تصاویر، فیلم&nbsp; و فایل خود را بارگذاری کرده و لینک آن را در مقاله یا پست خودقرار&nbsp; دهند. در زیگماوب شما به راحتی می توانید تصاویر را به نوشته هایتان اضافه کنید و فایل های ارسالی را مدیریت کنید.
            </div>
        </div>

        <div id="send-message" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    امکان ارسال پیام در شبکه
                </div>
            </div>
            <div class="portlet-body content-text">
                شما می توانید با وارد شدن به صفحه پروفایل کاربر، مستقیما به او پیام ارسال کنید. همچنین می توانید پیام هایی که کاربران دیگر به شما ارسال کرده اند را در ناحیه کاربری خود مشاهده کنید.
            </div>
        </div>

        <div id="follow" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    امکان دنبال کردن&nbsp;پروفایل و وبلاگ
                </div>
            </div>
            <div class="portlet-body content-text">
                شما می توانید برای آگاه شدن از آخرین فعالیت های کاربر پروفایل شخص مورد نظر و برای&nbsp; آگاه شدن از جدیدترین پست های وبلاگ، وبلاگ&nbsp; مورد نظر را دنبال کنید. ورد نظر را دنبال کنید.
            </div>
        </div>

        <div id="send-viewpoint" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    ارسال دیدگاه برای مقاله یا پست
                </div>
            </div>
            <div class="portlet-body content-text">
                شما می توانید دیدگاه خود را روی مقالات و پست های منتشر شده جهت بازخورد به نویسنده ثبت کنید. همچنین ثبت دیدگاه به بازدیدکنندگان از مقاله یا وبلاگ می تواند درک درستی از محتوی آن بدهد.
            </div>
        </div>
    </div>
</div>

@section PageHead {
    <div class="page-head">
        <div class="container">
            <div class="page-title">
                <h1>
                    <span>معرفی شبکه علمی و تخصصی زیگماوب</span>
                </h1>
            </div>
        </div>
    </div>
}

@section head {
    <meta name="description" content="معرفی شبکه علمی و تخصصی زیگماوب" />
    <style>
        .content-portlet {
            box-shadow: none;
            margin-bottom: 40px;
        }

        .intro-titles h4 {
            margin-bottom: 20px;
        }

        .img-box {
            padding: 20px;
        }
    </style>
}
