
@{
    ViewBag.Title = "ایجاد وبلاگ";
}

<div class="row all" style="text-align: justify; direction: rtl">
    <div class="col-lg-12">
        <div class="content">
            <div class="head">
                <h1 class="title">ایجاد وبلاگ</h1>
            </div>
            <div class="body">
                <p >وبلاگ به عبارت ساده صفحه &nbsp;اینترنتی است که به طور معمول به صورت فردی یا گروهی کوچک اداره می شود و مطالب آن به شیوه ای غیر رسمی و محاوره ای و به صورت متوالی نگارش می شود.. وبلاگ اغلب به صورت یک نشریه ی اینترنتی شخصی است و جایی است که شما می توانید خود را به دنیا معرفی کنید و افکار ، عقاید ، اشعار، احساسات و یا خاطرات خود را با دیگران به اشتراک بگذارید.</p>

        

                <p ><strong>افراد به چه دلیلی ممکن است بخواهند وبلاگ نویسی کنند؟</strong>
                </p>
                <p ><span >هم اکنون صدها میلیون نفر از مردم سراسر دنیا از تمام سطوح اجتماعی و از تمامی قشرها به وبلاگ نویسی روی آورده اند و از طریق وبلاگ نویسی نوشته های خود را در معرض دید عموم مراجعان از سرتاسر دنیا گذاشته اند.</span>جواب در این حقیقت نهفته است که هر کسی صدایی دارد و می خواهد صدایش شنیده شود و اینترنت وسیله ای بی نظیر برای رسیدن به آن هدف است و به واسطه ی اینترنت وبلاگ نویسان فرصت دسترسی به صدها و یا هزاران نفر را در روز بدست می آورند.</p>

                <p >تعداد زیادی از افراد هستند که تمایل دارند جزییات فعالیت های روزانه شان را به اشتراک بگذارند، از طرف دیگر وبلاگ نویسانی هستند که معمولا جزییاتی درباره ی زندگی شان نمی دهند اما در عوض تمایل دارند درباره سرگرمی ها و علایقشان بنویسند.</p>

                <p >وبلاگ در زیگماوب&nbsp; می تواند در ارائه ی&nbsp; اخبار بروز، اطلاعات فنی، دعوت از افراد برای شرکت در انجام کارهای داوطلبانه، مشاوره در سرمایه گذاری، یادداشت های شخصی و امثال آن نقش موثری ایفا کند. در زیگماوب افراد می توانند بدون نیاز به داشتن دانش فنی وبلاگ خود را ایجاد کرده و نوشته های خود را منتشر کنند.</p>

                <br />
                برای ایجاد وبلاگ روی لینک زیر کلیک کنید...
                <br />

                <br />
                <a class="btn blue btn-block" href="~/user/setupblog">ایجاد وبلاگ</a>
            </div>

        </div>
    </div>

</div>


