@{
    ViewBag.Title = "حریم شخصی";
}

<div class="row all" style="text-align: justify">
    <div class="col-lg-12">
        <div class="content">
            <div class="head">
        <!--        <h1 class="title">حریم شخصی</h1>-->
            </div>
            <div class="body">
                <p >
                    آخرین بروزرسانی : تیر 95</p>

                    زیگماوب ضمن این که تلاش می کند کارایی و راحتی و سرعت را برای شما به ارمغان بیاورد، متعهد است که از اطلاعات شخصی شما محافظت کند. این بیانیه ی حفظ حریم شخصی نحوه ی جمع آوری اطلاعات و استفاده از آن توسط زیگماوب را&nbsp; تشریح می کند.</p>

                <br />
                <h3 >
                   جمع آوری و استفاده از اطلاعات شما</h3>
                <p>
                    برای ارائه ی سرویس های زیگماوب، ما نیاز به جمع آوری
                    اطلاعاتی از شما داریم که این اطلاعات&nbsp; ممکن است برای تحلیل و بهبود عملکرد زیگماوب مورد استفاده قرار بگیرد.
                    علاوه براین ما&nbsp; با استفاده از &nbsp;سرویس های ارتباطی ضروری از اطلاعات شما&nbsp;
                    جهت &nbsp;ارسال ایمیل خوش آمد گویی و یا ارسال هشدارهای امنیتی استفاده خواهیم کرد. &nbsp;زیگماوب متعهد است که اطلاعات شخصی شما را به هیچ وجه در اختیار اشخاص ثالث قرار ندهد.</p>
                <p>
                    &nbsp;<span dir="RTL">ما این بیانیه را هر از چند گاهی بروز رسانی و تاریخ&nbsp; آخرین بروزرسانی را در بالای بیانیه درج می کنیم.</span> اگر در موارد بیانیه یا نحوه ی استفاده ی ما از اطلاعات شما تغییری صورت بگیرد،
                    قبل از اجرای تغییرات آن را به اطلاع شما
                    خواهیم رساند.
                </p>
                <p >
                    ما شما را تشویق می کنیم که هر از چندگاهی این بیانیه را مرور کنید و از این که چگونه زیگماوب از اطلاعات شخصی شما حفاظت می کند اطلاع حاصل نمایید.</p>
                <p >
                    <br />
                </p>
                <p >
                    امکاناتی که برای فعال کردن آن ها زیگماوب&nbsp; اطلاعات مورد نیاز را از شما را دریافت می کند به شرح زیر است:</p>
                <ul>
                    <li ><h3>ایجاد حساب کاربری</h3> </li>
                </ul>
                <p >
                     با داشتن حساب کاربری&nbsp; می توانید مقالات و نوشته های خود را منتشر و مدیریت کنید همچنین می توانید به نوشته های دیگران با ثبت دیدگاه و امتیاز دادن بازخورد بدهید.</p>
           
                    <br />
           
             <h4> اطلاعاتی که جمع آوری ، پردازش یا انتقال داده می شوند:</h4>
                <p >
                    هنگام ایجاد حساب کاربری از شما یک آدرس ایمیل معتبر (به عنوان نام کاربری) و یک کلمه عبور دلخواه به همراه نام و نام خانوادگی شما درخواست می شود. یادآوری می کنیم که کلمه ی عبور به عنوان کلمه ی عبور&nbsp; حساب کاربری شما دریافت می شود و کلمه ی عبور مربوط به حساب ایمیلتان نمی باشد.</p>
           
              
                    <br />
             
                <h4 >
                    استفاده از اطلاعات:</h4>
                <p >
                    ایمیل (نام کاربری) شما به عنوان شناسه یبرای احراز هویت حساب کاربری&nbsp; در زیگماوب استفاده می شود، و کاربران دیگر امکان مشاهده ی &nbsp;آن را ندارند. همچنین ممکن است ما از آن جهت ارتباط&nbsp; با شما استفاده کنیم. </p>
            
                    <br />
             
                <h4 >
                    کنترل و انتخاب شما:</h4>
                <p >
                    در صورتی که شماحساب کاربری خود را در زیگماوب ایجاد نکرده و وارد حساب کاربری خود نشوید، امکان انتشار مقاله یا بلاگ پست ، ارسال دیدگاه و امتیازدهی به مقالات و &nbsp;بلاگ پست ها را نخواهید داشت، اما شما می توانید به عنوان بازدید کننده از آن بهره ببرید.</p>
                <p >
                    <br />
                </p>
                <ul>
                    <li ><h3>پروفایل /نمایه</h3></li>
                </ul>
                <p >
                    وقتی که شما مقاله یا بلاگ پستی  منتشر می کنید، یا روی پست های دیگران دیدگاه خود را ثبت می کنید، پست شما با نام شما برچسب زده می شود و کاربران دیگر می توانند روی نام شما کلیک کنند و پروفایل شما را مشاهده کنند.</p>
                <p >
                    <br />
                </p>
                <h4>
                    اطلاعاتی که جمع آوری ، پردازش یا انتقال داده می شوند:</h4>
                <p >
                    اطلاعاتی که ما برای تکمیل پروفایلتان از شما دریافت می کنیم شامل نام ، نام خانوادگی، سوابق تحصیلی ، سوابق شغلی، تاریخ تولد و تاریخ پیوستن شما به زیگماوب است. همچنین مقالات، پست ها و نوشته های شما و فعالیت های اخیر شما برای کاربرانی که پروفایل شما را بازدید می کنند قابل مشاهده است.</p>
                <p >
                    <br />
                </p>
                <h4 >
                    استفاده از اطلاعات پروفایل :</h4>
                <p >
                    در صورتی که تنظیمات پروفایلتان را برای مشاهده دیگران فعال کرده باشید کاربران دیگر می توانند برای آشنایی بیشتر با شما پروفایل شما را مشاهده کنند، همچنین دیگران ممکن است از صفحه پروفایل شما برای تماس با شما استفاده کنند.</p>
                <p >
                    <br />
                </p>
                <h4 >
                    کنترل و انتخاب شما:</h4>
                <p >
                    شما می توانید با استفاده از امکانات تنظیمات پروفایل، به کاربران دیگر امکان مشاهده پروفایل یا &nbsp;امکان تماس با شما از طریق پروفایلتان را بدهید.</p>
                <p >
                    <br />
                </p>
                <h3 >
                    برای اطلاعات بیشتر</h3>
                <p >
                    زیگماوب از دریافت نظرات شما درباره ی این بیانیه حفظ حریم شخصی استقبال می کند، اگر شما سوالی درباره ی این بیانیه دارید یا چنانچه براین باورید که به مواردی پایبند نبوده ایم لطفا نظرات خود را از طریق ایمیل <a href="mailto:info@zigmaweb.com">info@zigmaweb.com</a> به ما ارسال کنید.</p>
                <br data-cke-eol="1" />
            </div>
        </div>
    </div>
</div>

@section head {
    <meta name="description" content="حریم شخصی" />
}

@section PageHead {
    <div class="page-head">
        <div class="container">
            <div class="page-title">
                <h1>
                    <span>حریم شخصی</span>
                </h1>
            </div>
        </div>
    </div>
}
