
@{
    ViewBag.Title = "ارسال مقاله";
}

<div class="row all" style="text-align: justify; direction:rtl">
    <div class="col-lg-12">
        <div class="content">
            <div class="head">
                <h1 class="title">ارسال مقاله</h1>
            </div>
            <div class="body">
                <br/>
                <h3>
                    مقاله چیست؟
                </h3>
                <p>
                    مقاله نوشته ای است که حجمی متوسط دارد و در مورد موضوعی معین بحث می کند، نویسنده باید در نگارش مقاله حدود موضوع را رعایت کرده و به روشنی آن را توضیح دهد. نوشتن مقاله با گزینش موضوعات و مطرح کردن آن ها در حوزه های مختلف می تواند سبب&nbsp; گشودن گرهی از مسائل علمی، ادبی، اجتماعی ، اقتصادی ، سیاسی ، اخلاقی و غیره شود.
                </p>
                <p>
                    به عبارت دیگر مقاله به نوشته هایی اطلاق می شود که هدف نویسنده ی آن بررسی یکی از مسائل علمی، ادبی، اجتماعی ، اقتصادی ، سیاسی ، اخلاقی و جز آن ها باشد و بخواهد با تحقیق و پژوهش موضوع را به اثبات برساند یا نفی کند.
                </p>
                مقاله می تواند در زمینه های مختلفی از قبیل موارد ذکر شده در ذیل ارائه شود:<br/>
                <br/>
                <ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; color: rgb(51, 51, 51); font-family: IRANSans; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(239, 243, 248);">
                    <li style="box-sizing: border-box;"> مقالات علمی </li>
                    <li style="box-sizing: border-box;">آموزش درباره ی استفاده یا آشنایی با یک تکنولوژی، تکنیک، نرم افزار، سخت افزار، دستگاه</li>
                    <li style="box-sizing: border-box;">پژوهش در ارتباط با مسائل اجتماعی و اخلاقی و ...</li>
                    <li style="box-sizing: border-box;">ارائه ی تحلیل در حوزه های سیاسی و اقتصادی</li>
                    <li style="box-sizing: border-box;">تبیین مبانی اعتقادی و مذهبی</li>
                    <li style="box-sizing: border-box;">بحث و ارائه نظر در حوزه ی فلسفه</li>
                    <li style="box-sizing: border-box;">تحقیق و پژوهش در حوزه ی مدیریت</li>
                    <li style="box-sizing: border-box;">و ...</li>
                </ul>

            </div>
            <br />
            برای ارسال مقاله روی لینک زیر کلیک کنید...
            <br />

            <br />
            <a class="btn blue btn-block" href="~/user/article/add">ارسال مقاله</a>
        </div>
    </div>

</div>


