@{
    ViewBag.Title = "شرایط استفاده";
}

<div class="row all" style="text-align:justify">
    <div class="col-lg-12">
        <div class="content">
            <div class="body">
                <p>
                    استفاده از زیگماوب منوط به پذیرش شرایط زیر است. زیگماوب در هر زمانی&nbsp; حق بروزرسانی &lt;شرایط استفاده&gt;&nbsp; را&nbsp; بدون اطلاع رسانی برای خود محفوظ می داند. استفاده از زیگماوب به هر صورت ممکن شامل استفاده از خدمات ، &nbsp;انتشار مقاله یا بلاگ پست ، ثبت دیدگاه یا جستجو در سایت به منزله ی پذیرش شرایط و ضوابط تعیین شده از طرف شماست.</p>
                <br/>
                <h4>
                    شرح سرویس.</h4>
                <p>
                    زیگماوب یک شبکه علمی و تخصصی همگانی و آزاد است به طوری که همه می توانند نوشته های خود را به صورت آزادانه در قالب مقاله یا بلاگ پست منتشر کرده و مدیریت کنند.
                    زیگماوب امکان&nbsp; انتشار مقاله و بلاگ پست و دسترسی به منابع مختلفی از مقاله های علمی ، ادبی، فرهنگی، هنری و... و همچنین بهره مندی از بازخورد دیگران را به همراه مجموعه ای از خدمات دیگر برای شما فراهم کرده است.</p>
                <br/>
                <h4> حریم شخصی و حفاظت از اطلاعات شخصی.</h4>
                <p >
                    بیانیه ی <a href="http://zigamweb.com/privacy">حریم شخصی</a> نحوه ی جمع آوری و استفاده از اطلاعات مربوط به شما را شرح می دهد.
                </p>

                <br/>

                <h4 >
                    حساب کاربری ، کلمه ی عبور و امنیت</h4>
                <p >
                    برای استفاده از سرویس های زیگماوب شما به یک حساب کاربری نیاز دارید، شما می بایست در زمان ایجاد حساب کاربری با ارائه ی اطلاعات درست، دقیق و کامل &nbsp;تکمیل نمایید. برای این منظور شما باید نام کاربری (ایمیل) و کلمه ی عبور دلخواه خود را تعیین نمایید. لازم به یادآورری است که شما به طور کامل مسئول حفظ و نگهداری از کلمه عبور و حساب کاربری خود و همچنین به طور کامل مسئول تمام فعالیت هایی هستید که تحت حساب کاربری شما انجام می شود.&nbsp;شما موظف هستید هر گونه استفاده غیر مجاز از حساب کاربری خود و یا هر گونه نقض امنیتی را بلافاصله به اطلاع ما برسانید. زیگماوب در قبال هر گونه زیانی که ممکن است در نتیجه استفاده ی شخص دیگری از کلمه ی عبور یا حساب کاربری شما (با آگاهی با بدون آگاهی شما) بوجود آید مسئولیتی ندارد. توجه داشته باشید که  حتی ممکن است شما به واسطه استفاده ی شخص دیگری از کلمه ی عبور و حساب کاربری شما،&nbsp; مسئول زیان وارده به زیگماوب و یا به شخص دیگری باشید. علاوه براین شما نباید از حساب کاربری شخص دیگری بدون اجازه ی دارنده ی حساب استفاده کنید.</p>
                <br/>
                <h4 >
                    استفاده ی غیرقانونی و غیر مجاز ممنوع.</h4>
                <p >
                    با توجه به ضوابط و شرایط&nbsp; بیان شده شما هرگز نباید از سرویس های ارائه شده برای اهداف غیرقانونی و غیرمجاز استفاده کنید.</p>


                <br/>

                <h4 >
                    استفاده از سرویس.</h4>
                <p >
                    شما از سرویس های ارائه شده تنها باید برای ارسال و دریافت نوشته های مناسب استفاده کنید. به عنوان مثال (و نه به عنوان یک محدودیت) ، شما در هنگام استفاده از سرویس های زیگماوب، باید از موارد ذکر شده ی زیر پرهیز کنید.</p>

                <ul>
                    <li >استفاده از سرویس های ارائه شده برای نظرسنجی، مسابقه، طرح های هرمی، نامه های زنجیره ای، ایمیل های ناخواسته، هرزنامه، یا هر پیام مکرر و ناخواسته (تجاری یا غیرتجاری) .</li>
                    <li >توهین، سوءاستفاده، آزار و اذیت،&nbsp; تهدید و هرآنچه که حقوق قانونی دیگران را نقض کند.</li>
                    <li >انتشار، بارگذاری، ارسال و استفاده از تصویر ، فایل، عناوین ، القاب یا هر نوشته ی توهین آمیز زشت و ناپسند و غیرقانونی.</li>
                    <li >استفاده از هر اطلاعاتی شامل عکس ها و تصاویر دارای حق کپی رایت، یا هر آنچه که حق مالکیت حقوقی دیگران را نقض کند از قبیل استفاده از علامت تجاری و اسرار تجاری دیگران.</li>
                    <li >بارگذاری و ارسال فایل هایی شامل ویروس ، تروجان، کرم رایانه ای، فایل های مخرب، یا هر نرم افزار مشابه دیگر که ممکن است&nbsp; عملیات کامپیوترها و سیستم های دیگر را مختل کند.</li>
                    <li >تبلیغات یا پیشنهاد خرید یا فروش هر نوع کالا یا خدماتی (با هر هدف کسب و کار).</li>
                    <li >دانلود هر نوع فایل یا نوشته ای از کاربران دیگر که از نظر قانونی نباید تکثیر و توزیع شود.</li>
                    <li >ایجاد هویت جعلی برای گمراه کردن دیگران.</li>
                    <li >نقض هر گونه مقررات قانونی.</li>
                </ul>

                <p >
                    زیگماوب هیچ الزامی برای نظارت بر سرویس های ارتباطی ندارد با این وجود حق بررسی موارد ارسال شده در سرویس های ارتباطی&nbsp; و حذف آن ها را به صلاحدید خود محفوظ می داند. همچنین حق فسخ دسترسی شما به سرویس های ارتباطی در هر زمانی، بدون اطلاع قبلی و به هر دلیلی برای زیگماوب محفوظ است.</p>
                <p >
                    زیگماوب در هر زمانی افشای هر گونه اطلاعات لازم برای اجرای قانون و پیشبرد روند حقوقی یا درخواست دولتی&nbsp; و همچنین &nbsp;ویرایش یا حذف تمام یا بخشی از هرگونه اطلاعات منتشر شده را به صلاحدید خود محفوظ می داند.</p>
                <p >
                    هنگام دادن هرگونه اطلاعات شناسایی شخصی خود یا فرزندانتان در سرویس های ارتباطی جانب احتیاط را رعایت نمایید. زیگماوب محتوای پیام ها و اطلاعات ارسالی در سرویس های ارتباطی را کنترل یا تایید نمی کند. بنابراین زیگماوب در قبال اقداماتی&nbsp; که ناشی از مشارکت شما در سرویس های ارتباطی است هیچ گونه مسئولیتی ندارد. مدیران سایت سخنگویان زیگماوب نیستند و دیدگاههای آن ها لزوما منعکس کننده ی سیاست های زیگماوب نیست.</p>
                <br/>
                <h4 >
                    موارد ارائه شده یا ارسال شده در زیگماوب</h4>
                <p >
                    زیگماوب در قبال هر آنچه که ارائه کرده اید از قبیل ارسال مقاله، بلاگ پست، بازخورد، پیشنهاد، بارگذاری تصویر یا فایل و ...&nbsp; ادعای مالکیت نمی کند، بدین ترتیب شما با ارسال آن ها در زیگماوب در واقع مجوز کپی، دانلود، تغییر و انتشار مجدد آن ها را به کاربران دیگر تحت حقوق مالکیت معنوی خود می دهید. البته &nbsp;زیگماوب مجوز بهبود سایت و سرویس های زیگماوب را براساس پیشنهاداتی که از شما دریافت کرده است را دارد.</p>
                <p >

                    زیگماوب هیچ الزامی برای انتشار مقالات ، نوشته ها و موارد ارسالی شما را ندارد و ممکن در هر زمانی مستقیما مقالات و نوشته های ارسالی شما را بنا به صلاحدید حذف کند. بنابراین در قبال حذف موارد ارسالی شما در زیگماوب هیچ خسارتی به شما از طرف زیگماوب پرداخت نخواهد شد.</p>
                <p >
                    زیگماوب موارد ارسالی توسط شخص ثالث را کنترل ، بازبینی، تایید یا توزیع نمی کند.<br/>
                </p>
                <p >
                    ارسال هر پستی به منزله این است که شما شخصا تمام حقوق مربوط به پست خود را با توجه به هرآنچه که در &quot;شرایط استفاده&quot; بیان شده را تعهد کرده اید.</p>
                <p >
                    علاوه بر موارد گفته شده در بالا ، ارسال یک پست که ممکن است شامل تصاویر و عکس ها یا دیگر فایل های گرافیکی باشد در واقع به منزله این هست که شما مالک حق کپی موارد ارسال شده هستید، یا مجوز حق کپی توسط مالک آن به شما &nbsp;داده شده باشد و یا در غیر این صورت مجوز آن صریحا در &quot;&lt;شرایط استفاده&gt;&quot;&nbsp; به شما داده شده باشد.</p>

                <br/>

                <h4 >
                    لینک به سایت های دیگر.</h4>
                <p >
                    لینک هایی که در مقالات و نوشته ها یا پست ها استفاده می شود می تواند&nbsp; امکان خروج شما از سایت و رفتن به سایت دیگر را فراهم می کند. سایت های لینک شده تحت کنترل زیگماوب نیستند و&nbsp; زیگماوب هیچ مسئولیتی در قبال محتوی سایت های لینک داده شده یا لینک های موجود در آن ها ندارد. امکان ارائه لینک در پست ها&nbsp; برای راحتی شما
                    فراهم شده است و این به معنی تایید لینک های قرارداده شده در پست ها توسط زیگماوب نیست.</p>
                <p >
                    لطفا
                    سوالات یا بازخوردهای خود را درارتباط با &lt;شرایط استفاده&gt; از طریق ایمیل <a href="mailto:info@zigmaweb.com">info@zigmaweb.com</a> به ما ارسال نمایید.
                </p>



            </div> 
        </div>
    </div>

</div>

@section head {
    <meta name="description" content="شرایط استفاده از شبکه علمی و تخصصی زیگماوب" />
}

@section PageHead {
    <div class="page-head">
        <div class="container">
            <div class="page-title">
                <h1>
                    <span>شرایط استفاده</span>
                </h1>
            </div>
        </div>
    </div>
}
