<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="ZigmaWebConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ZigmaWeb;User ID=sa; Password=sa;MultipleActiveResultSets=true; " providerName="System.Data.SqlClient" />-->
  <!--<add name="ZigmaWebConnectionString" connectionString="Data Source=Home-Server,49458\SQLEXPRESS;Initial Catalog=ZigmaWeb;User ID=sa; Password=sa;MultipleActiveResultSets=true; " providerName="System.Data.SqlClient" />-->
  <!--<add name="ZigmaWebConnectionString" connectionString="Data Source=78.46.172.158,1433\sqlexpress;Initial Catalog=ZigmaWeb;Persist Security Info=True;User ID=sa;Password=38dfgD*#4cPQ;Application Name=ZigmaWeb;MultipleActiveResultSets=True"  providerName="System.Data.SqlClient"/>-->
  <add name="ZigmaWebConnectionString" connectionString="Data Source=46.4.178.189\sqlexpress;Initial Catalog=Zigmaweb;Persist Security Info=True;User ID=sa;Password=IMAS@123456;Application Name=Zigmaweb;MultipleActiveResultSets=True"  providerName="System.Data.SqlClient"/>
</connectionStrings>
