@{
    ViewBag.Title = "صفحه درخواستی شما وجود ندارد";
}

@section styles{
    <style>
        #child-body {
            text-align: center;
            margin-top: 90px;
        }

        #child-body h5{
            font-size:27px;
            color:#ff6a00;
            margin-top:30px;
        }
    </style>
}

<div id="child-body">
    <a href="~/Home/Index">
        <img src="~/Content/Images/128x128/file_warning.png" />
    </a>
    <h5>صفحه درخواستی شما وجود ندارد! </h5>
</div>