@{
    ViewBag.Title = "خطا";
}

<div class="row" style="margin:100px 0 200px 0">
    <div class="col-md-12 page-500">
        <div class="number font-red"> 500 </div>
        <div class="details">
            <h3>خطا</h3>
            <p>
                متاسفانه هنگام پردازش اطلاعات خطا رخ داد.<br />
                در اسرع وقت به این موضوع رسیدگی خواهد شد.
            </p>
            <p>
                <a href="/" class="btn red btn-outline">بازگشت به خانه</a>
                <br>
            </p>
        </div>
    </div>
</div>


@section Head{
    <link href="~/content/assets/pages/css/visitor_error_index.css" rel="stylesheet" />
}
