<li class="menu-dropdown classic-menu-dropdown @(ViewBag.ActiveMenu == "Home" ? "active" : "")">
    <a href="@Url.Action("Index","Home")">
        خانه
        <span class="arrow"></span>
    </a>
</li>

<li class="menu-dropdown classic-menu-dropdown">
    <a href="/directory/articles/1">
        مقاله‌ها
        <span class="arrow"></span>
    </a>
</li>

<li class="menu-dropdown classic-menu-dropdown">
    <a href="/directory/blogs/1">
        وبلاگ‌ها
        <span class="arrow"></span>
    </a>
</li>
<li class="menu-dropdown classic-menu-dropdown">
    <a href="/introduction">
        معرفی
        <span class="arrow"></span>
    </a>
</li>