<strong>توجه:</strong>
<p>
    ممکن است ایمیل ارسال شده در پوشه Junk یا Spam ذخیره شده باشد. در صورت لزوم این پوشه ها را نیز بررسی بفرمایید.<br />
    درصورتی که ایمیل فعال‌سازی در پوشه‌های ذکر شده قرار گرفته باشد، ممکن است لینک های درون آن غیرفعال شده باشند. برای اینکه لینک فعال سازی عمل کند، ابتدا ایمیل را به پوشه Inbox منتقل کنید.
</p>
