<div id="dropzoneArea">
    <p class="help">
جهت افزودن تصویر به مقاله، فایل مورد نظر را در این محل رها کنید<br />
(یا روی این ناحیه کلیک کنید)
    </p>
</div>
<div class="label label-info dropzone-msg" style="display:none; padding: 10px;"></div>

<div id="dzPreviewTemplate" class="dz-preview dz-file-preview" style="display:none">
    <div class="item">
        @*<img data-dz-thumbnail />*@
        <span data-dz-uploadprogress class="uploadprogress"></span>
        <span data-dz-name></span>
        (<span data-dz-size></span>)
    </div>
</div>


