<div class="form">
    <ul class="media-browser">
        <li class="item-template" style="display:none">
            <img />
        </li>
        <li class="empty-msg" style="display:none">
            موردی برای نمایش وجود ندارد
        </li>
    </ul>
</div>
