@{
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
    ViewBag.Title = "کلمه عبور شما تغییر کرد";
}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            @*<i class="icon-flag font-green-haze"></i>*@
            <span class="caption-subject">کلمه عبور شما تغییر کرد</span>
        </div>
    </div>
    <div class="portlet-body">
        <div style="margin:0 10px">
            <div style="padding: 30px 0 80px 0; clear:both">
                <div style="float:right; margin-left:20px">
                    <i class="fa fa-flag font-blue-dark" style="font-size:50px"></i>
                </div>
                <div style="float:right;">
                    <span>کلمه عبور شما با موفقیت تغییر کرد. حالا می‌توانید با کلمه عبور جدید وارد حساب کاربریتان شوید.</span>
                </div>
            </div>
            <div style="padding-top:20px">
                <a class="btn font-white bg-blue" href="@Url.Action("index", "signin")">ورود به حساب کاربری</a>
            </div>
        </div>
    </div>
</div>

