<?xml version="1.0"?>
<appSettings>
  
  <!-- System settings-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  
  <!-- Email Settings -->
  <add key="SmtpUsername" value="reg@zigmaweb.com"/>
  <add key="SmtpPassword" value="zwpass"/>
  <!--<add key="SmtpServerHostName" value="mail.zigmaweb.com"/>-->
  <add key="SmtpServerHostName" value="62.210.110.233"/>
  <add key="SmtpServerPort" value="25"/>

  <!-- Other Settings -->
  <add key="AppDirectory" value="F:\ZigmaWeb\UserData"/>
  <add key="AppStorageDirectory" value="F:\ZigmaWeb\UserMedia"/>
  
  <add key="LocalSystemTimeZoneId" value=""/>

  <add key="LatestArticlesNumber" value="40"/>
  <add key="TopArticlesNumber" value="18"/>
</appSettings>
