<?xml version="1.0"?>
<connectionStrings>
  <add name="ZigmawebConnectionString" connectionString="data source=.\sqlexpress;initial catalog=Zigmaweb;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!--<add name="ZigmaWebConnectionString" connectionString="Data Source=46.4.178.189\sqlexpress;Initial Catalog=Zigmaweb;Persist Security Info=True;User ID=sa;Password=IMAS@123456;Application Name=Zigmaweb;MultipleActiveResultSets=True"  providerName="System.Data.SqlClient"/>-->
</connectionStrings>
