<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ZigmaWebConnectionString"
      connectionString="Data Source=78.46.172.158,1433\sqlexpress;Initial Catalog=ZigmaWeb;Persist Security Info=True;User ID=sa;Password=38dfgD*#4cPQ;Application Name=ZigmaWeb;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace"  xdt:Transform ="Insert">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound" />
    </httpErrors>-->

    <rewrite >
      <rules>
        <!--<rule name="Redirect www to non-www" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="www.zigmaweb.com" />
          </conditions>
          <action type="Redirect" url="http://zigmaweb.com/{R:0}" />
        </rule>
        <rule name="Redirect .ir to .com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="zigmaweb.ir" />
          </conditions>
          <action type="Redirect" url="http://zigmaweb.com/{R:0}" />
        </rule>-->
        <!--<rule name="Redirect everything to https://zigmaweb.com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="zigmaweb.com" negate="true" />
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://zigmaweb.com/{R:0}" />
        </rule>-->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
